doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    title React y api Marvel
    link(rel="stylesheet", href="./public/css/app.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    main
      #app
    script(src="public/app.min.js")
