.Card
		width 170px
		background #8a94b9
		border 5px solid black
		box-shadow 4px 6px 10px rgba(black,.5)
		border-radius .5em
		padding .5em
		position relative
		height 230px
		margin .5em

		&-description
				background white
				padding .5em
				font-size 12px
				margin-bottom .5em
				border 2px solid black

		&-name
				color white
				text-transform uppercase
				margin 0 0 .5em 0
				font-size 1.5em
				display flex
				justify-content center
				white-space normal
		&-image
				width  100%
				border-radius 50%

.Search
		display flex
		align-items center
		position relative
		height 100px
		padding 20px
		&-input
				border 0
				outline none
				border-bottom 2px solid black
				font-size 1.5em
		&-button
				font-size 1.5em
				background #051d54
				border 0
				color white
				width 100px
				height 33px
				margin-left .5em
.Principal
		display flex
		flex-wrap wrap
		height auto
		justify-content center

.main
		background url("../images/pattern.jpg") no-repeat center center fixed
		background-size cover
				
input:-webkit-autofill {
		-webkit-box-shadow: 0 0 0px 1000px white inset;
}